body{
	
	text-align:center;
	z-index:-1;
	font-family: 'Roboto', sans-serif;
	background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: scroll;
}


input[type=number]{
	width :60%;
	padding: 5px 10px;
	margin:1px;
	border:none;
	border-bottom: 2px solid #b0b0b0;
	font-size:24px;
	background: rgba(256, 256, 256, 0);
}

input[type=number]:focus {
	border-bottom: 3px solid #93c23d;
}

input[type=button], input[type=reset]{
	background-color: #93c23d;
	border:none;
	color:#fff;
	text-decoration:none;
	padding: 10px 20px;
	cursor:pointer;
	font-size:24px;
}


.line{
	border-bottom:2px solid #a7bac2;
}

.container{
	background: rgba(256, 256, 256, 0.88);
	margin: 40px auto;
	padding: 20px;
	border-radius: 25px
}


#result {
	display:none;
}

span{

	font-size:32px;
	font-weight:500;
	color: #7ba62d;
}


@media only screen and (min-width: 768px) {
	.container{
		padding: 50px;
		max-width: 768px;
		margin: 100px auto;
	}

}